.my-card {
    width: 5em;
    height: 5em;
    box-shadow: 0.1em 0.2em 0.4em rgba(0, 0, 0, 0.1);
    border-radius: 0.4em;
    transition: 0.2s;
    margin: 20em;
    padding: 2em;
    border: 10em;
    border-collapse: separate;
    justify-content: center;
    justify-items: center;
}

td {
    margin: 1em;
    border: 5px;
}

.game-table {
    justify-content: center;
    justify-items: center; /* Размещаем карточку по центру */
    padding: 2em;
    border-collapse: separate;
    margin: 10em;
    border: 10em;
    table-layout: fixed;
}